@charset "UTF-8";

body {
	background: #15B69A;
	margin: 0px;
	color: #ffffff;
}

a {
	text-transform: none;
	text-decoration: none;
	color: #ffffff;
	font-weight: 900;
}

p {
	display: inline;
	color: blue;
	font-weight: 900;
}

a:hover {
	text-decoration: underline;
}